wsdlgo/testdata/memcache.wsdl

<!-- my hacked up memcache++ for testing only -->

<definitions name="MemoryService"
   targetNamespace="http://localhost:8080/EchoService.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   xmlns:tns="http://localhost:8080/EchoService.wsdl"

   <types>
     <schema>
       <element name="SetRequest">
         <complexType>
           <annotation>
             <documentation>SetRequest carries a key-value pair.</documentation>
           </annotation>
           <sequence>
             <element name="Key" type="xsd:string" minOccurs="1" maxOccurs="1"/>
             <element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
             <element name="Expiration" type="xsd:duration" minOccurs="0"/>
           </sequence>
         </complexType>
       </element>

       <complexType name="GetResponse">
         <annotation>
           <documentation>GetResponse carries value and TTL.</documentation>
         </annotation>
         <all>
           <element name="Value" type="xsd:string" minOccurs="0" maxOccurs="1"/>
           <element name="TTL" type="xsd:duration" minOccurs="0" maxOccurs="1"/>
         </all>
       </complexType>

       <complexType name="GetMultiRequest">
        <sequence>
          <element name="Keys" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
       </complexType>

       <complexType name="GetMultiResponse">
        <sequence>
          <element name="Values" type="tns:GetResponse" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
       </complexType>
     </schema>
   </types>

   <message name="GetRequest">
     <part name="key" type="xsd:string"/>
   </message>

   <message name="GetResponse">
     <part name="resp" type="tns:GetResponse"/>
   </message>

   <message name="SetRequest">
     <part name="info" type="tns:SetRequest"/>
   </message>

   <message name="SetResponse">
     <part name="ok" type="xsd:boolean"/>
   </message>

   <message name="GetMultiRequest">
     <part name="keys" type="tns:GetMultiRequest"/>
   </message>

   <message name="GetMultiResponse">
     <part name="values" type="tns:GetMultiResponse"/>
   </message>

   <portType name="MemoryServicePortType">
      <operation name="Get">
         <input message="tns:GetRequest"/>
         <output message="tns:GetResponse"/>
      </operation>
      <operation name="Set">
         <input message="tns:SetRequest"/>
         <output message="tns:SetResponse"/>
      </operation>
      <operation name="GetMulti">
         <input message="tns:GetMultiRequest"/>
         <output message="tns:GetMultiResponse"/>
      </operation>
   </portType>

   <binding name="MemoryService" type="tns:MemoryServicePortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Get">
         <soap:operation soapAction="Get"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:memoryservice"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:memoryservice"
               use="encoded"/>
         </output>
      </operation>

      <operation name="GetMulti">
         <soap:operation soapAction="GetMulti"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:memoryservice"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:memoryservice"
               use="encoded"/>
         </output>
      </operation>

      <operation name="Set">
         <soap:operation soapAction="Set"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:memoryservice"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:memoryservice"
               use="encoded"/>
         </output>
      </operation>
   </binding>

   <service name="MemoryService">
      <documentation>WSDL File for HelloService</documentation>
      <port binding="tns:MemoryService" name="MemoryService">
         <soap:address location="http://localhost:8080" />
      </port>
   </service>
</definitions>

