wsdlgo/testdata/soap12wcf.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
Based mostly on the example from here: https://www.w3.org/Submission/wsdl11soap12/ but modified to have input and have
removed attributes not present ons WSDLs generated by WCF services
-->

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://foo.bar.com/HelloWorld/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://foo.bar.com/HelloWorld/1.0" xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <xs:element name="HelloRequest" type="xs:string"/>
            <xs:element name="HelloResponse" type="xs:string"/>
        </xs:schema>
    </types>

    <message name="HelloWorldMessageIn">
        <part name="parameters" element="tns:HelloRequest" />
    </message>

    <message name="HelloWorldMessageOut">
        <part name="parameters" element="tns:HelloResponse"/>
    </message>

    <portType name="Test">
        <operation name="HelloWorld">
            <input message="tns:HelloWorldMessageIn"/>
            <output message="tns:HelloWorldMessageOut"/>
        </operation>
    </portType>

    <binding name="TestSoap12Binding" type="tns:Test">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http " />
        <operation name="HelloWorld">
            <soap:operation soapAction="http://example.com/Test/HelloWorldRequest" />
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="HelloWorld">
        <documentation>HelloWorld Service 1.0</documentation>
        <port name="HelloWorld" binding="tns:TestSoap12Binding">
            <soap:address location="http://localhost/helloworld"/>
        </port>
    </service>

</definitions>
          